/* ========== NAVIGATION BAR ========== */

.icon i {
    transition: transform 0.2s ease, opacity 0.3s ease;
}

/* Optional: Rotating icon when toggled */
.icon.open i {
    transform: rotate(180deg);
}

.icon.close i {
    transform: rotate(360deg);
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {

    .navbar a {
        display: none;
    }

    .navbar a.icon {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
        background-color: #bcbcbc;

    }








}